@model AccountViewModel
@{
    ViewBag.Tab = "Contribute";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/prism/prism.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/prism");
}

<section id="secondaryNav">
    @Html.Partial("~/Views/Shared/_AuthenticationSubNavigation.cshtml")
</section>
<section class="container py-3 py-xl-5">
    <div class="row align-items-center">
        <div class="col-xl-7 h-100 text-center text-xl-left mb-3 mb-xl-0">
            <h2 class="mb-0">My Account (@Model.UserName)</h2>
        </div>
        <div class="col-xl-5 h-100 text-center text-xl-right">
            <a href="@Url.Action(MVC.Users.Edit())" class="btn btn-primary">Edit Profile</a>
            <a href="@Url.Action(MVC.Users.ChangePassword())" class="btn btn-primary">Change Password</a>
        </div>
    </div>
    <hr />
    <div class="row" id="actions">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="card border-0 rounded-0 shadow h-100">
                <div class="card-body">
                    <h3 class="text-center"><i class="fas fa-upload" alt="Upload"></i> Upload Package</h3>
                    <p class="mb-0">
                        Upload and publish your package for other Chocolatey users to download and enjoy.
                        You can upload multiple revisions of the same package, as long as the version
                        is different.
                    </p>
                </div>
                <div class="card-footer bg-white pt-0 pb-4 border-0 text-center">
                    <a href="@Url.UploadPackage()" class="btn btn-primary">Upload Package</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-0 rounded-0 shadow h-100">
                <div class="card-body">
                    <h3 class="text-center"><i class="fas fa-cogs" alt="Manage"></i> Manage My Packages</h3>
                    <p class="mb-0">Edit package details or Remove packages that you have previously uploaded.</p>
                </div>
                <div class="card-footer bg-white pt-0 pb-4 border-0 text-center">
                    <a href="@Url.Action(MVC.Users.Packages())" class="btn btn-primary">Manage Packages</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-3 my-xl-5" />
    @if (Model.CuratedFeeds.Any())
    {
        <div class="row">
            <div class="col-12">
                <h2>Manage Curated Feeds</h2>
                <p>Click a curated feed to manage the included packages.</p>
                <ul class="mb-0">
                    @foreach (var curatedFeed in Model.CuratedFeeds)
                    {
                        <li><a href="@Url.RouteUrl(RouteName.CuratedFeed, new { name = curatedFeed })">@curatedFeed</a></li>
                    }
                </ul>
            </div>
        </div>
        <hr class="mt-4 mb-3 my-xl-5" />
    }
    <div class="row mt-4" id="apiKey">
        <div class="col-12">
            <h2>API Key</h2>
            <p>
                Your API key provides you with a token that identifies you to the gallery.
                Keep this a secret. You can always regenerate your key at any time (invalidating
                previous keys) if your token is accidentally revealed.
            </p>
            <p class="text-danger font-weight-bold">Your key is hidden for privacy, click to show.</p>
            <button type="button" class="btn btn-secondary">Show API Key</button>
            <div id="generateKey" class="d-none">
                <h3 class="mt-4">Your API key is:</h3>
                <div class="input-group copyBox">
                    <input type="text" class="form-control"
                            value="@Model.ApiKey"
                            aria-label="Your custom API key"
                            readonly>
                    <div class="input-group-append">
                        <button class="btn btn-primary tt"
                                aria-label="Copy API Key to Clipboard"
                                data-toggle="tooltip"
                                title="Copy to Clipboard"
                                data-clipboard-text="@Model.ApiKey">
                                <i class="fas fa-clipboard" aria-hidden="true">
                                    <span class="sr-only">
                                        Copy API Key to Clipboard
                                    </span>
                                </i>
                        </button>
                    </div>
                </div>
                <fieldset class="form mt-2">
                    <legend class="d-none">Generate New API Key</legend>
                    @using (Html.BeginForm("GenerateApiKey", "Users", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input class="btn btn-primary" type="submit" value="Generate New API Key" />
                    }
                </fieldset>
                <h3 class="mt-4">Example Usage:</h3>
                <pre class="py-2 mb-0 border line-numbers language-powershell"><code class="language-powershell">choco apikey --key @Model.ApiKey --source https://push.chocolatey.org/</code><code class="language-powershell">choco push MyPackage.1.0.nupkg --source https://push.chocolatey.org/</code></pre>
            </div>
        </div>
    </div>
</section>

@section BottomScripts {
    <script language="javascript" type="text/javascript">
        ((window.gitter = {}).chat = {}).options = {
            room: 'chocolatey/chocolatey.org'
        };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script type="text/javascript">
        $('#apiKey .btn-secondary').click(function() {
            $('#apiKey .btn-secondary').addClass('d-none');
            $('#apiKey .text-danger').addClass('d-none');
            $('#generateKey').removeClass('d-none').addClass('d-block');
        });
    </script>
}
