@model PasswordChangeViewModel
@{
    ViewBag.Title = "Change Password";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}

<section id="secondaryNav">
    @Html.Partial("~/Views/Shared/_AuthenticationSubNavigation.cshtml")
</section>
<section id="account" class="container py-3 py-md-5">
    <div class="row">
        <div class="col-sm-9 col-lg-6 m-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Change Password</h3>
                    <hr class="mb-0" />
                    @using (Html.BeginForm())
                    {
                        <fieldset class="form">
                            <legend class="d-none">Register Form</legend>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-field">
                                @Html.LabelFor(m => m.OldPassword) <span class="fas fa-asterisk"></span>
                                @Html.EditorFor(m => m.OldPassword)
                                <span class="field-hint-message">The Current password field is required.</span>
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </div>
                            <div class="form-field">
                                @Html.LabelFor(m => m.NewPassword) <span class="fas fa-asterisk"></span>
                                @Html.EditorFor(m => m.NewPassword)
                                <span class="field-hint-message">Passwords must be at least 7 characters long.</span>
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                            <div class="form-field">
                                @Html.LabelFor(m => m.ConfirmPassword) <span class="fas fa-asterisk"></span>
                                @Html.EditorFor(m => m.ConfirmPassword)
                                <span class="field-hint-message">The new password and confirmation password do not match.</span>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <p class="mb-0 mt-3"><small>Fields marked with</small> <span class="fas fa-asterisk"></span> <small>are required.</small></p>
                            <input class="btn btn-primary mx-auto mt-3 d-block" type="submit" value="Save" title="Change Password" />
                            <p class="mb-0 mt-2 text-center"><small><a class="cancel" href="@Url.Action("Account")" title="Cancel Changes and go back.">Cancel</a></small></p>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section BottomScripts
{
    <script language="javascript" type="text/javascript">
        ((window.gitter = {}).chat = {}).options = {
            room: 'chocolatey/chocolatey.org'
        };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
}