@model RegisterRequest
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}
@section TopScripts {
    <script>
        function onSubmit(token) {
            document.getElementById("i-recaptcha").submit();
        }
    </script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
}
<h3 class="text-center">Create a New Account</h3>
<p class="text-center"><small>Already have an account? <a href="@Url.LogOn()">Log On.</a></small></p>
<hr class="mb-0" />
@using (Html.BeginForm("Register", "Users", FormMethod.Post, new { id = "i-recaptcha" }))
{
    <fieldset class="form">
        <legend class="d-none">Register Form</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-field">
            @Html.LabelFor(m => m.EmailAddress) <span class="fas fa-asterisk"></span>
            @Html.EditorFor(m => m.EmailAddress)
            <span class="field-hint-message">Your email will not be public unless you choose to disclose it. It is required to verify your registration and for password retrieval, important notifications, etc.</span>
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Username) <span class="fas fa-asterisk"></span>
            @Html.EditorFor(m => m.Username)
            <span class="field-hint-message">Choose something unique so others will know which contributions are yours.</span>
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.Password) <span class="fas fa-asterisk"></span>
            @Html.EditorFor(m => m.Password)
            <span class="field-hint-message">Passwords must be at least 7 characters long.</span>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.ConfirmPassword) <span class="fas fa-asterisk"></span>
            @Html.EditorFor(m => m.ConfirmPassword)
            <span class="field-hint-message">Please reenter your password and ensure that it matches the one above.</span>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-field">
            @Html.ValidationMessageFor(m => m.SpamValidationResponse)
        </div>
        <p class="mb-0 mt-3"><small>Fields marked with</small> <span class="fas fa-asterisk"></span> <small>are required.</small></p>
        <input class="btn btn-primary mx-auto mt-3 d-block g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["reCAPTCHA::PublicKey"]" data-callback="onSubmit" data-badge="bottomleft" type="submit" value="Register" title="Register" />
        <p class="mb-0 mt-2 text-center"><small><a class="cancel" href="@Url.LogOn()" title="Cancel Changes and go back.">Cancel</a></small></p>
    </fieldset>
}