<div class="row resource-list video-story">
    <div class="col-lg-4 col-sm-6 mb-4">
        <a href="@Url.RouteUrl(RouteName.BlogArticle, new { articleName= "enable-remote-work-without-compromising-security-quick-deployment-environment" })">
            <div class="card h-100">
                <div class="card-body p-0">
                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/blog-01.jpg")" alt="Blog: Enable Remote Work Without Compromising Security / Quick Deployment Environment" title="Blog: Enable Remote Work Without Compromising Security / Quick Deployment Environment" />
                </div>
                <div class="card-footer">
                    <h5 class="mb-0 text-center">Blog: Enable Remote Work Without Compromising Security / Quick Deployment Environment</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "features", resourceName = "chocolatey-for-business-self-service-and-chocolatey-gui-intro" })">
            <div class="card h-100">
                <div class="card-body p-0">
                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0501.jpg")" alt="Self-Service and Chocolatey GUI Part: 1" title="Self-Service and Chocolatey GUI Part: 1" />
                </div>
                <div class="card-footer">
                    <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 1</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "features", resourceName = "chocolatey-for-business-self-service-and-chocolatey-gui-demo" })">
            <div class="card h-100">
                <div class="card-body p-0">
                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0502.jpg")" alt="Self-Service and Chocolatey GUI Part: 2" title="Self-Service and Chocolatey GUI Part: 2" />
                </div>
                <div class="card-footer">
                    <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 2</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = "yelp-customer-success-story" })">
            <div class="card h-100">
                <div class="card-body p-0">
                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/01-05.jpg")" alt="Customer Success Story: Yelp" title="Customer Success Story: Yelp" />
                </div>
                <div class="card-footer">
                    <h5 class="mb-0 text-center">Customer Success Story: Yelp</h5>
                </div>
            </div>
        </a>
    </div>
</div>

@*If popup modal is desired, use template below*@
@*<div class="card h-100">
    <div class="text-center card-body p-0" data-toggle="modal" data-target="#self-service-1">
        <img class="img-fluid" src="@Url.Content("~/content/images/videos/03-13.jpg")" alt="What is Chocolatey" title="What is Chocolatey" />
    </div>
    <div class="card-footer">
        <h5 class="mb-0 text-center">What is Chocolatey?</h5>
    </div>
</div>
<div class="modal fade" id="self-service-1" tabindex="-1" role="dialog" aria-labelledby="What is Chocolatey" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/Z8olEnt65bk?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>*@