<div class="bg-primary">
    <div class="shape-border shape-border-top"></div>
    <div class="container pt-3 pt-lg-5 carousel-section1">
        <h1 class="text-center"><strong>Businesses Trust Chocolatey Software</strong></h1>
        <p>
            Many organizations face the ongoing challenge of deploying and supporting various versions of software. Chocolatey allows organizations to automate and simplify
            the management of their complex Windows environments. Our customers have experienced a massive reduction in effort, improved speed of deployment, high reliability, and comprehensive reporting.
        </p>
    </div>
    <div class="shape-border shape-border-bottom"></div>
</div>
<div class="carousel-section2">
    <div class="container">
        <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel carousel-dark" data-ride="carousel" data-touch="true">
            <ol class="carousel-indicators">
                <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonialCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <div class="card-body p-xl-5">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <div class="w-75 p-5 mx-auto" style="background: #d32323;">
                                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Yelp.png")" alt="Yelp" title="Yelp" />
                                        <noscript>
                                            <img src="@Url.Content("~/content/images/businesses/Yelp.png")" alt="Yelp" title="Yelp" />
                                        </noscript>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>Ryan de Temple</small></h3>
                                            <p><small><i>Client Platform Manager at Yelp</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">We wanted to make sure our user experience was seamless. We wanted to provide a service, software, configuration- without user intervention, without restarts... Chocolatey allowed our engineers to build the products, to build the pipeline and deliver just that.</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-body p-xl-5">
                            <div class="row align-items-xl-center">
                                <div class="col-xl-4 text-center">
                                    <div class="w-75 p-5 mx-auto" style="background: #222;">
                                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Puppet.png")" alt="Puppet, Inc." title="Puppet, Inc." />
                                        <noscript>
                                            <img src="@Url.Content("~/content/images/businesses/Puppet.png")" alt="Puppet, Inc." title="Puppet, Inc." />
                                        </noscript>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-12 order-xl-2 text-center text-xl-left">
                                            <h3 class="mt-2 mb-0 text-primary"><small>Mike Lombardi</small></h3>
                                            <p><small><i>Software Engineer at Puppet</i></small></p>
                                        </div>
                                        <div class="col-12 order-xl-1">
                                            <q class="mb-4 mb-xl-0">The single biggest thing I love about Chocolatey has to be the ease of use and reusablility. That has made all the difference for me. I don't have to remember 37 different ways to interact with my software... just the one- and that's it!</q>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev d-none d-md-flex" href="#testimonialCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next d-none d-md-flex" href="#testimonialCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="pt-5 carousel-section3">
            <div class="row align-items-center">
                <div class="col my-4 text-center">
                    <a href="https://puppet.com" rel="noreferrer" title="Puppet, Inc" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Puppet-Dark.png")" alt="Logo for Puppet, Inc" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/Puppet-Dark.png")" alt="Logo for Puppet, Inc" />
                        </noscript>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="https://chef.io" rel="noreferrer" title="Chef Software, Inc" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Chef-Dark.png")" alt="Logo for Chef Software, Inc" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/Chef-Dark.png")" alt="Logo for Chef Software, Inc" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.seek.com.au" rel="noreferrer" title="SEEK - Australia's number one jobs site" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/SEEK.png")" alt="Logo for SEEK" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/SEEK.png")" alt="Logo for SEEK" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.hulu.com" rel="noreferrer" title="Hulu" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Hulu.png")" alt="Logo for Hulu" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/Hulu.png")" alt="Logo for Hulu" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.tricore.be" rel="noreferrer" title="Tricore" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Tricore-sm.png")" alt="Logo for Tricore" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/Tricore-sm.png")" alt="Tricore" />
                        </noscript>
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col my-4 text-center">
                    <a href="https://www.ecec.com/" rel="noreferrer" title="Eau Claire Energy Cooperative" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/ECEC-sm.png")" alt="Logo for Eau Claire Energy Cooperative" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/ECEC-sm.png")" alt="Logo for Eau Claire Energy Cooperative" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.mpac.ca/" rel="noreferrer" title="Municipal Property Assesment Corporation" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/MPAC-sm.png")" alt="Logo for Municipal Property Assesment Corporation" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/MPAC-sm.png")" alt="Logo for Municipal Property Assesment Corporation" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.sage.edu/" rel="noreferrer" title="The Sage Colleges" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="Logo for The Sage Colleges" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="Logo for The Sage Colleges" />
                        </noscript>
                    </a>
                </div>
                <div class="col my-4 text-center">
                    <a href="https://www.swissre.com" rel="noreferrer" title="Swiss Re Group" target="_blank">
                        <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/SwissRe.png")" alt="Logo for Swiss Re Group" />
                        <noscript>
                            <img src="@Url.Content("~/content/images/businesses/SwissRe.png")" alt="Logo for Swiss Re Group" />
                        </noscript>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "success-stories"})">View Customer Stories</a>
        </div>
    </div>
</div>