<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/PRIDE-sm.jpg")" alt="P.R.I.D.E" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/PRIDE-sm.jpg")" alt="P.R.I.D.E" />
                </noscript>
            </div>
            <q>The I.T. department staff at P.R.I.D.E., Inc. were early adopters of Chocolatey and the product had become an integral part of processes. Chocolatey improves our efficiency, increases consistency across workstations, and provides easy access to software that is vital to our engineers daily workflow. Truly a revolutionary solution to a problem that has plagued Windows since inception.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Kieth Davis</h5>
            <p><small><i>IT Director at P.R.I.D.E</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="The Sage Colleges" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="The Sage Colleges" />
                </noscript>
            </div>
            <q>Chocolatey has gone from a convenience to a necessity. It has helped us automate third party software updates, which has improved end user experiences and our on-site security. It has saved time by reducing the volume of calls to our help desk for simple issues like Flash Player updates, so we can focus on other issues. It’s integration with Chef has allowed us to automate software installation and deployment. Gone are the days when we would provision and deploy a PC with an outdated version of Chrome. With Chef and Chocolatey we deploy updated software every time a PC is provisioned. Chocolatey has helped us wrangle all of the applications we use into one manageable and automation friendly interface.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Alex Markessinis</h5>
            <p><small><i>Senior Network Administrator at The Sage Colleges</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Tricore-sm.png")" alt="Tricore" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/Tricore-sm.png")" alt="Tricore" />
                </noscript>
            </div>
            <q>We were looking for an efficient and seamless way to deploy software on servers and workstations without hindering user experience. Chocolatey has definitely helped us a great deal with automated deployments. The package builder is also a great way of creating custom install packages for business-specific software. Overall it has saved us a lot of time and hassle.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">The Tricore Team</h5>
            <p><small><i>Tricore</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/MPAC-sm.png")" alt="Municipal Property Assessment Corporation" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/MPAC-sm.png")" alt="Municipal Property Assessment Corporation" />
                </noscript>
            </div>
            <q>At MPAC, we needed to implement a new, configurable package management solution to satisfy our complex requirements. Choosing Chocolatey turned out to be an excellent decision – the solution gave us everything we needed to accelerate deployments, improve security and endpoint visibility. In addition, by streamlining application packaging and deployment with Chocolatey, we’ve significantly reduced application management costs and improved service delivery.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Gopi Balasingam</h5>
            <p><small><i>Director, IT Operations at Municipal Property Assessment Corporation (MPAC)</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/JCVI-sm.png")" alt="The J. Craig Venter Institute" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/JCVI-sm.png")" alt="The J. Craig Venter Institute" />
                </noscript>
            </div>
            <q>In the SMB market we just don't have the resources to dedicate an entire FTE to managing a complex configuration management tool. As a result, these types of monumental products tend to fail monumentally. Chocolatey is allowing us to leverage modular DevOps practices in a much more economical way. It’s well worth investing in Chocolatey for Business, which provides the extra tooling we need to realize our DevOps goals faster.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Dave Negrotto</h5>
            <p><small><i>Senior Manager, IT at The J. Craig Venter Institute</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Uni-sm.png")" alt="University of Derby" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/Uni-sm.png")" alt="University of Derby" />
                </noscript>
            </div>
            <q>
                We manage a broad range of application requirements across academic disciplines summarised by approximately 500 applications on 7000 managed endpoints.
                Chocolatey is quickly becoming an indispensable piece of our configuration management toolset for end-user devices.<br /><br />
                We have reduced our packaging overheads and complexity for many applications through the internalisation of community packages. This has also allowed us to update third party apps more rapidly to improve levels of security and compliance.<br /><br />
                Chocolatey has also been instrumental in our focus on increased automation/orchestration and is a key tool used in our containerisation journey with Docker.
            </q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Luke Williams</h5>
            <p><small><i>Senior Engineer IT Services at the University of Derby</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/EastCentralCollege-sm.png")" alt="East Central College" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/EastCentralCollege-sm.png")" alt="East Central College" />
                </noscript>
            </div>
            <q>Chocolatey has greatly simplified our deployment operations and software management with its ease of implementation and usability. We were able to use chocolatey in many different ways, saving time and providing consistency in daily operations.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Andrew Chitwood</h5>
            <p><small><i>Network and Systems Technician at East Central College</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <div class="justify-content-center align-items-center d-flex mb-3">
                <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/ec-sm.jpg")" alt="Eau Claire Energy Cooperative" />
                <noscript>
                    <img class="img-fluid" src="@Url.Content("~/content/images/businesses/ec-sm.jpg")" alt="Eau Claire Energy Cooperative" />
                </noscript>
            </div>
            <q>Chocolatey has been a great addition to our IT toolset. It has streamlined our workstation deployment down to a fraction of the time it used to take. We’ve also leveraged the tools to create our own custom packages for in house software. Keeping our workstations up to date is also automated and working smoothly. We have visibility into what products are installed and updated very easily. This greatly enhances our security by not having outdated software packages on the network. I highly recommend Chocolatey to my colleagues when they ask how we are accomplishing these tasks.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Rob Weber</h5>
            <p><small><i>Technology Manager at Eau Claire Energy Cooperative</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <q>Chocolatey has greatly simplified package management on Windows computers via its integration with Puppet configuration management software. This configuration has allowed us to leverage similar skillsets in configuration management across Windows and Linux. The command line interface to package management also makes it easy to use several remote tools to check on, install, and uninstall packages in an ad hoc manner on Windows.
            <br /><br />The Chocolatey business version helps us by making it dead simple to import packages for use from the gallery to our internal secure repository.</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">James Pulver</h5>
            <p><small><i>CLASSE Computer Group of Cornell University</i></small></p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
    <div class="card h-100 testimonial-3">
        <div class="card-body">
            <q>We need to rapidly deploy new testing and user environments, and Chocolatey makes that a seamless and easy process!</q>
        </div>
        <div class="card-footer text-center">
            <h5 class="mb-0 text-primary">Eric Rothenberger</h5>
            <p><small><i>Fortego, LLC</i></small></p>
        </div>
    </div>
</div>