@{
    ViewBag.Title = "Careers";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<div id="header" class="bg-medium-dark team-header">
    <section class="py-3 py-lg-5">
        <div class="container py-lg-5 text-center">
            <h1 class="display-3">Working at Chocolatey Software</h1>
            <a class="btn btn-light btn-lg mt-3" href="https://www.indeedjobs.com/chocolatey-software/" target="_blank" rel="noreferrer">Search All Open Positions</a>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section class="pb-3 pb-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Be at Your Best</h2>
                <hr class="border-hr" />
                <p>If you are looking for the next move, or just want to be part of an exciting and fun business where you can be challenged, accepted, and supported then Chocolatey is a place where you can make your mark.</p>
                <p>We are growing fast and encourage everyone at Chocolatey Software to have a real impact on the company and our customers every day. We are driven, focused, and encourage creativity and collaboration.</p>
                <p>Work local and think global. We have created a remote friendly working culture. With the latest technology we allow our team to work anywhere in the world, still feel connected, and get their work done.</p>
                <p>We have developed our culture to offer a real work and life balance. Offering a comprehensive benefits package and option to work where you can be at your best.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid shadow rounded" width="600" src="@Url.Content("~/content/images/chocolatey-staff.jpg")" />
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-lg-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 px-xl-5 d-none d-lg-block">
                <div class="row no-gutters shadow img-grid">
                    <div class="col-4 d-flex">
                        <div class="my-auto">
                            <img class="img-fluid" src="@Url.Content("~/content/images/choco-ps-summit.jpg")" />
                        </div>
                    </div>
                    <div class="col-4 d-flex bg-medium-dark">
                        <div class="px-3 my-auto">
                            <p class="mb-0 text-center h5">Learn and Grow with Chocolatey</p>
                        </div>
                    </div>
                    <div class="col-4 d-flex">
                        <div class="my-auto">
                            <img class="img-fluid" src="@Url.Content("~/content/images/choco-chefconf.jpg")" />
                        </div>
                    </div>
                    <div class="col-4 d-flex bg-primary">
                        <div class="px-3 my-auto">
                            <p class="mb-0 text-center h5">Bring New Ideas Forward</p>
                        </div>
                    </div>
                    <div class="col-4 d-flex bg-dark">
                        <div class="m-auto py-5">
                            <img class="img-fluid my-xl-3" style="height: 100px;" alt="Chocolatey Software" src="@Url.Content("~/content/images/logo_small.svg")" />
                        </div>
                    </div>
                    <div class="col-4 d-flex bg-medium">
                        <div class="px-3 my-auto">
                            <p class="mb-0 text-center h5">Interact with Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Help Customers and Community</h2>
                <hr class="border-hr" />
                <p>
                    Chocolatey Software is leading the way in how organizations can successfully automate their Windows environments. Chocolatey is a proven software management solution for Windows -
                    hundreds of thousands of users and thousands of organizations, including Microsoft, look at Chocolatey as a solution for rapid deployment and management of software on all supported Windows platforms, including Docker containers and cloud environments.
                </p>
                <p>If you like to help customers, bring new ideas forward, and want to learn and grow then Chocolatey offers you an excellent platform.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Be Part of The Change</h2>
                <hr class="border-hr" />
                <p>
                    We often hear how system engineers can spend hours deploying and configuring Windows software manually. Traditional tools are not built for modern automation and gaining insights and consistency across IT environments is not always easy.
                    Chocolatey for Business (C4B) has helped hundreds of system admins save time, reduce downtime, and accelerate deployments. Chocolatey helps organizations bridge the gap from current approaches to proven DevOps approaches.
                </p>
                <p>If you are excited about how automation and software is changing the world then Chocolatey could be the right place for you to drive that change, develop new skills, and make great connections.</p>
                <a class="btn btn-primary mt-3" href="https://www.indeedjobs.com/chocolatey-software/" target="_blank" rel="noreferrer">Search All Open Positions</a>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="video-story">
                            <div class="text-center" data-toggle="modal" data-target="#chocolatey-story"><img class="img-fluid shadow mb-3" src="@Url.Content("~/content/images/videos/03-13.jpg")" alt="The Future of Windows Automation" title="The Future of Windows Automation" /></div>
                            <div class="modal fade" id="chocolatey-story" tabindex="-1" role="dialog" aria-labelledby="The Future of Windows Automation" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body p-0">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/6PnzlONRYmg?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="h5 text-muted text-italic text-center">"The Future of Windows Automation"</p>
                            <p class="text-center">with Rob Reynolds, Founder of Chocolatey Software</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>