@using NuGetGallery
@model ContactGeneralViewModel
@{
    ViewBag.Title = "General Inquiry";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/account.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/validation");
}
@section TopScripts {
    <script>
        function onSubmit(token) {
            document.getElementById("i-recaptcha").submit();
        }
    </script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
}

<section id="account">
    <div class="container py-3 py-lg-5">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="text-primary">Contact Chocolatey Software</h2>
                <h4>Please provide the information below and we'll reach out as soon as possible.</h4>
                <div class="callout callout-warning">
                    <strong>If you have found an issue or have questions</strong> (related to open source usage or package install issues), do not use this form! Please see <a href="@Url.RouteUrl(RouteName.Support)">Support</a> and <a href="@Url.RouteUrl(RouteName.ReportIssue)">Report Issue</a> for details.
                </div>
                @using (Html.BeginForm("ContactGeneral", "Pages", FormMethod.Post, new { id = "i-recaptcha" }))
                {
                <fieldset class="form">
                    <legend class="d-none">Question or comments?</legend>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-field">
                                @Html.LabelFor(m => m.FirstName) <span class="fas fa-asterisk"></span>
                                @Html.EditorFor(m => m.FirstName)
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-field">
                                @Html.LabelFor(m => m.LastName) <span class="fas fa-asterisk"></span>
                                @Html.EditorFor(m => m.LastName)
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>
                    </div>
                    <div class="form-field d-flex flex-column">
                        <div>@Html.LabelFor(m => m.MessageTo) <span class="fas fa-asterisk"></span></div>
                        @Html.DropDownListFor(m => m.MessageTo, Model.MessageToItems, "Select...")
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(m => m.Email) <span class="fas fa-asterisk"></span>
                        @Html.EditorFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.EditorFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(m => m.CompanyName)
                        @Html.EditorFor(m => m.CompanyName)
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(m => m.Message) <span class="fas fa-asterisk"></span>
                        @Html.TextAreaFor(m => m.Message, new { @rows = 5 })
                        @Html.ValidationMessageFor(m => m.Message)
                    </div>
                    <div class="form-field mt-3">
                        <label class="for-checkbox checkbox mb-0">
                            @Html.CheckBoxFor(m => m.CheckBox, new { @class = "check-box" })
                            I am not attempting to market software or services (such as SEO). I am also not requesting advertising space. <span class="fas fa-asterisk"></span>
                            <span class="checkmark"></span>
                        </label>
                        @Html.ValidationMessageFor(m => m.CheckBox)
                    </div>
                    <div class="form-field">
                        @Html.ValidationMessageFor(m => m.SpamValidationResponse)
                    </div>
                    <p class="mb-0 mt-3"><small>Fields marked with</small> <span class="fas fa-asterisk"></span> <small>are required.</small></p>
                    <input class="btn btn-primary mt-3 g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["reCAPTCHA::PublicKey"]" data-callback="onSubmit" data-badge="bottomleft" type="submit" value="Send Message" title="Send us a message. We'll be in touch soon!" />
                </fieldset>
                }
            </div>
            <div class="col-lg-4">
                @Html.Partial("~/Views/Pages/_ContactSideColumn.cshtml")
            </div>
        </div>
    </div>
</section>