@{
    ViewBag.Title = "Sitemap";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pb-4">Sitemap</h1>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Overview</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.WhyChocolatey)">Why Chocolatey</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.HowChocolateyWorks)">How Chocolatey Works</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Docs, new {docName = "security"})">Security</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Privacy)">Privacy Policy</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.About)">About</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Install)">Install</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Community</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.ListPackages)">Community Packages</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Community)">Community Resources</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Product</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.Solutions, new {solutionName = "home"})">Solution: Self-Service Anywhere</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "quick-deployment-environment" })">Solution: Quick Deployment Environment (QDE)</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "chocolatey-for-business"})">Chocolatey for Business</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "home"})#pro-edition">Pro Edition</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "home"}))#foss">Open Source</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Compare)">Compare Editions</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Pricing)">Pricing</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Try for Free</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Pricing)">Purchase</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Learn</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.Courses)">Getting Started</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "home"})">Resource Library</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Docs, new {docName = "home"})">Docs</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "videos"})">Videos</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "case-studies"})">Case Studies</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Courses)">Courses</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.BlogHome)">Blog</a> <a href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" alt="Chocolatey Blog" style="vertical-align:middle;border:0" /></a></li>
                            <li><a href="@Url.RouteUrl(RouteName.MediaKit)">Media Kit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Use Cases</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.UseCases)">Use Case Overview</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.UseCases)#server">Server</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.UseCases)#desktop">Desktop</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.UseCases)#cloud">Cloud / Containers</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.UseCases)#integrations">Integrations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3>Connect</h3>
                        <ul>
                            <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact Us</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
                            <li><a href="http://eepurl.com/4qUJH">Newsletter</a></li>
                            <li><a href="http://cafepress.com/chocolatey">Shop</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.ReportIssue)">Report a Bug</a></li>
                            <li><a href="https://status.chocolatey.org">Status</a></li>
                            <li><a href="@Url.RouteUrl(RouteName.Careers)">Careers</a></li>
                            <li class="list-unstyled">
                                <a href="https://twitter.com/chocolateynuget" target="_blank" rel="noreferrer">
                                    <i aria-hidden="true" class="fab fa-twitter mr-2 h3"></i>
                                    <span class="sr-only">Follow Chocolatey Software on Twitter</span>
                                </a>
                                <a href="https://facebook.com/ChocolateySoftware" target="_blank" rel="noreferrer">
                                    <i aria-hidden="true" class="fab fa-facebook mr-2 h3"></i>
                                    <span class="sr-only">Follow Chocolatey Software on Facebook</span>
                                </a>
                                <a href="https://github.com/chocolatey" target="_blank" rel="noreferrer">
                                    <i aria-hidden="true" class="fab fa-github mr-2 h3"></i>
                                    <span class="sr-only">Find Chocolatey Software on GitHub</span>
                                </a>
                                <a href="https://www.youtube.com/chocolateysoftware" target="_blank" rel="noreferrer">
                                    <i aria-hidden="true" class="fab fa-youtube h3"></i>
                                    <span class="sr-only">Subscribe to Chocolatey Software on YouTube</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>