@{
    ViewBag.Title = "Solutions | Self-Service Anywhere";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}
@section ExtraHeaders {
    <meta property="og:description" content="Chocolatey provides a unique approach to managing your end-user software (desktops / laptops) and can be combined with your existing solutions. Chocolatey for Business (C4B) enables better security, enhanced visibility with centralized reporting, and a self-service GUI. Self-Service Anywhere allows non-administrators to easily access and manage IT approved software from the office, from home, or anywhere they have an internet connection." />
    <meta property="description" content="Chocolatey provides a unique approach to managing your end-user software (desktops / laptops) and can be combined with your existing solutions. Chocolatey for Business (C4B) enables better security, enhanced visibility with centralized reporting, and a self-service GUI. Self-Service Anywhere allows non-administrators to easily access and manage IT approved software from the office, from home, or anywhere they have an internet connection." />
}

<div id="header" class="bg-medium-dark">
    <section class="py-3 py-lg-5">
        <div class="container py-3">
            <h3 class="text-uppercase">Self-Service Anywhere</h3>
            <h1 class="mb-0">Empower Your Remote Users While Maintaining Security Policies</h1>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section class="pb-3 pb-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-2 order-lg-1 video-story resource-list">
                <div class="card">
                    <div class="text-center card-body p-0" data-toggle="modal" data-target="#self-service-1">
                        <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0501.jpg")" alt="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" title="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" />
                    </div>
                    <div class="card-footer">
                        <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 1</h5>
                    </div>
                </div>
                <div class="modal fade" id="self-service-1" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-0">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/Thw9GpQaZ6M?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 mb-4 mb-lg-0">
                <div class="list-curve">
                    <p>With an increasing requirement to enable a remote workforce, organizations need to review and adopt approaches that ensure that they do not compromise security while maintaining employee productivity.</p>
                    <p>
                        When faced with unplanned events or special projects, organizations can be required to set-up remote workers with very little notice. 
                        Many IT teams are not set-up for adding and securing remote workers in such a short timeframe, and will be required to adopt unfamiliar practices in order to enable their workforce. This could include the purchase of new equipment, reviewing current policies & procedures, and introducing new solutions.
                    </p>
                    <p>
                        Deploying software to remote desktops and endpoint devices is not always easy, especially in highly regulated and locked down environments.
                        In addition, you need to ensure your end users are productive, efficient, and have no vulnerabilities.
                        <br />
                        <br />
                        How do you ensure your teams have the most up to date software deployed to their desktops / laptops?
                    </p>
                    <p class="font-weight-bold">
                        Chocolatey provides a unique approach to managing your end-user software (desktops / laptops) and can be combined with your existing solutions. Chocolatey for Business (C4B) enables better security, enhanced visibility with centralized reporting, and a self-service GUI. 
                        Self-Service Anywhere allows non-administrators to easily access and manage IT approved software from the office, from home, or anywhere they have an internet connection.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white pt-3 pt-lg-5">
    <div class="container">
        <h2 class="text-center mb-3">7 Common Challenges & Considerations When Enabling a Remote Workforce</h2>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <ol class="list-circle list-circle-counter list-circle-danger-fade mb-0">
                    <li>Ensuring company owned IT equipment is not compromised.</li>
                    <li>Providing secure and easy access to IT/Company approved applications and critical updates.</li>
                    <li>Empowering your remote workers to be truly productive. Minimize downtime due to out of date software, and manage the ability to install applications on locked down devices.</li>
                    <li>Ensuring software updates and patches are provided to remote workers faced with reduced bandwidth or connectivity issues.</li>
                    <li>Gaining visibility and insight on software packages deployed, especially considering a semi-connected workforce.</li>
                    <li>Enabling your IT teams to quickly and easily stand-up a solution to empower remote workers.</li>
                    <li>Supporting IT administrators to speed up deployments, rollouts, and updates.</li>
                </ol>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img class="lazy img-fluid" width="400" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/remote-work.png")" alt="Remote Work" title="Remote Work" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="business-trusted" class="bg-white">
    <div class="bg-primary">
        <div class="shape-border shape-border-top"></div>
        <div class="container pt-3 pt-lg-5 carousel-section1">
            <h2 class="text-center">Customers Who Trust This Solution</h2>
        </div>
        <div class="shape-border shape-border-bottom shape-border-white"></div>
    </div>
    <div class="carousel-section2">
        <div class="container">
            <div id="testimonialCarousel" class="carousel slide carousel-fade text-dark testimonial-carousel carousel-dark" data-ride="carousel" data-touch="true">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body p-xl-5">
                                <div class="row align-items-xl-center">
                                    <div class="col-xl-4 text-center">
                                        <div class="w-75 p-5 mx-auto" style=" background: #d32323; ">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Yelp.png")" alt="Yelp" title="Yelp" />
                                            <noscript>
                                                <img src="@Url.Content("~/content/images/businesses/Yelp.png")" alt="Yelp" title="Yelp" />
                                            </noscript>
                                        </div>
                                    </div>
                                    <div class="col-xl-8">
                                        <div class="row">
                                            <div class="col-12 order-xl-2 text-center text-xl-left">
                                                <h3 class="mt-2 mb-0 text-primary"><small>Ryan de Temple</small></h3>
                                                <p><small><i>Client Platform Manager at Yelp</i></small></p>
                                            </div>
                                            <div class="col-12 order-xl-1">
                                                <q class="mb-4 mb-xl-0">We wanted to make sure our user experience was seamless. We wanted to provide a service, software, configuration- without user intervention, without restarts... Chocolatey allowed our engineers to build the products, to build the pipeline and deliver just that.</q>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body px-xl-5 py-xl-3">
                                <div class="text-center">
                                    <img class="lazy img-fluid" style="max-width: 250px;" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="The Sage Colleges" />
                                    <noscript>
                                        <img class="img-fluid" src="@Url.Content("~/content/images/businesses/TheSageColleges-sm.png")" alt="The Sage Colleges" />
                                    </noscript>
                                </div>
                                <p>
                                    "Chocolatey has gone from a convenience to a necessity. It has helped us automate third party software updates, which has improved end user experiences and our on-site security.
                                    It has saved time by reducing the volume of calls to our help desk for simple issues like Flash Player updates, so we can focus on other issues.
                                </p>
                                <p>
                                    Gone are the days when we would provision and deploy a PC with an outdated version of Chrome. With Chef and Chocolatey we deploy updated software every time a PC is provisioned.
                                    Chocolatey has helped us wrangle all of the applications we use into one manageable and automation friendly interface."
                                </p>
                                <div class="text-center">
                                    <h3 class="mt-2 mb-0 text-primary"><small>Alex Markessinis</small></h3>
                                    <p><small><i>Senior Network Administrator at The Sage Colleges</i></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev d-none d-md-flex" href="#testimonialCarousel" role="button" data-slide="prev">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next d-none d-md-flex" href="#testimonialCarousel" role="button" data-slide="next">
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pt-lg-5 bg-white">
    <div class="container">
        <h2 class="text-center mb-3">Enable Self-Service Installations for Non-Adminstrators</h2>
        <div class="row align-items-center">
            <div class="col-lg-6 text-center d-none d-lg-flex">
                <img class="img-fluid" width="600" src="@Url.Content("~/content/images/ccm-computer-white.jpg")" />
            </div>
            <div class="col-lg-6">
                <ul class="list-circle list-circle-success-fade">
                    <li class="list-circle-fa-cogs">Ensuring software is deployed and updated to remote users with no 'admin rights' or in highly regulated locked down environments is a challenge.</li>
                    <li class="list-circle-fa-users">C4B provides organizations the power to easily offer their users an interface to install and upgrade software.</li>
                    <li class="list-circle-fa-star">Offering a user-friendly, consistent, reliable approach without the need for manual intervention.</li>
                    <li class="list-circle-fa-paper-plane">Central management and control aligned with organizational policies. Endpoint users can only deploy software based on policies and user rights (i.e self-service marked repositories).</li>
                    <li class="list-circle-fa-user-lock">C4B installation is completely locked down so non-administrators cannot make changes to configurations. Attempted abuses can be logged and audited.</li>
                    <li class="list-circle-fa-edit">Ability to brand GUI with company logo.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="bg-medium-dark border-0">
    <div class="shape-border shape-border-top"></div>
    <section class="py-3 py-lg-5">
        <div class="container text-center text-white">
            <h2><strong>Contact us today to get started with your free Chocolatey for Business trial!</strong></h2>
            <h3>Begin managing your software in a better way.</h3>
            <a class="btn btn-lg btn-outline-light mt-3" href="@Url.RouteUrl(RouteName.ContactQuickDeployment)">Schedule a Demo</a>
            <a class="btn btn-lg btn-primary mt-3" href="@Url.RouteUrl(RouteName.Pricing)">Get Started</a>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section class="pb-3 pb-lg-5">
    <div class="container">
        <h2 class="text-center mb-3">Self-Service Resources</h2>
        @Html.Partial("~/Views/Pages/_SelfServiceResources.cshtml")
    </div>
</section>
