@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/pages.css");
    Bundles.Reference("Content/prism/prism.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/prism");
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    @Html.Partial("~/Views/Shared/_TopNavigation.cshtml")
    <main id="docs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 col-xl-2 p-0 docs-left">
                    <nav class="navbar navbar-expand-md navbar-dark sticky-top p-0 border-top-0 bg-medium-dark">
                        <button class="navbar-toggler m-2 my-md-0 w-100 text-white border-0 collapsed" type="button" data-toggle="collapse" data-target="#docs-nav" aria-controls="navbarlogoff" aria-expanded="false" aria-label="Toggle navigation">
                            <small>Documentation Table of Contents</small>
                        </button>
                        <div class="collapse navbar-collapse bg-light" id="docs-nav">
                            <div class="navbar-nav d-block w-100">
                                <ul class="pt-3 pt-lg-5">
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Getting Started</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "font" })">Typography</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "logo" })">Logo Usage</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "sections" })">Sections, Headers & CTA's</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "colors" })">Colors</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "buttons" })">Buttons</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "alerts" })">Alerts and Callouts</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "cards" })">Cards</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "testimonials" })">Testimonials</a></li>
                                    <li><a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "carousels" })">Carousels</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-12 col-md-9 @if (IsSectionDefined("SideColumn")) {<text>col-xl-8</text>} else {<text>col-xl-10</text>} py-3 py-lg-5 pl-md-5 docs-body">
                    @RenderBody()
                </div>
                @if (IsSectionDefined("SideColumn"))
                {
                    <div class="d-none d-xl-block col-xl-2 docs-right">
                        <nav class="sticky-top">
                            <p><strong>Table of Contents:</strong></p>
                            @RenderSection("SideColumn")
                        </nav>
                    </div>
                }
            </div>
        </div>
    </main>
    <footer>
        @Html.Partial("~/Views/Shared/_BottomNavigation.cshtml")
    </footer>
    @RenderPage("~/Views/Shared/_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
        $(function () {
            $('pre').addClass('line-numbers py-2 m-0');
            Prism.highlightAll();
        });
    </script>
</body>