@{
    ViewBag.Title = "Logo";
}

@section SideColumn {
    <ul>
        <li><a href="#logo-main">Main Logo</a></li>
        <li><a href="#logo-icon">Icon Logo</a></li>
        <li><a href="#logo-clear-space">Clear Space</a></li>
        <li><a href="#logo-examples">What Not to Do <i>Coming Soon!</i></a></li>
        <li><a href="#logo-policy">Usage Policy</a></li>
    </ul>
}
<h1>Chocolatey Logo Usage</h1>
<h4>Identify the correct way of using the Chocolatey Logo and what <strong>not </strong>to do.</h4>
<a href="@Url.Content("~/chocolatey-media-kit.zip")" class="btn btn-primary" download><span class="fas fa-download" alt="Download"></span> Download Chocolatey Media Kit</a>

<h2 id="logo-main" class="mt-5">Main Logo</h2>
<p>
    The Chocolatey official logo can be presented on any colored background, 
    however it is preferred to be used on one of the official <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "colors" })#color-background">Chocolatey Background Colors</a>. Do not rotate the Chocolatey logo to any degree.
</p>
<div class="border d-inline-block p-3 mb-3 mb-lg-0">
    <img alt="Chocolatey Software" height="125" src="@Url.Content("~/content/images/logo_square.svg")" />
</div>

<h2 id="logo-icon" class="mt-5">Icon Logo</h2>
<p>The Chocolatey icon can be used in exchange for the main logo above in cases where size or format is restricted. The full Chocolatey logo should be used whenever possible.</p>
<div class="border d-inline-block p-3">
    <img alt="Chocolatey Software" height="75" src="@Url.Content("~/content/images/logo_small.svg")" />
</div>

<h2 id="logo-clear-space" class="mt-5">Clear Space</h2>
<p>The Chocolatey logo should always have clear space around it to maintain impact and reduce a cluttered look. Ensure the logo has at least <strong>15px of space</strong> on every side.</p>
<img alt="Chocolatey Software" src="@Url.Content("~/content/images/styleguide/logo-space.jpg")" />


<h2 id="logo-examples" class="mt-5">What <strong>Not</strong> to Do</h2>
<p><i>Coming Soon!</i></p>

<h2 id="logo-policy" class="mt-5">Usage Policy:</h2>
<p>
    You must obtain written permission from Chocolatey Software, Inc., to use the Chocolatey marks for any use, including but not limited to; (i) merchandising purposes (e.g. T-shirts, mugs);
    (ii) on or in relation to a software product that includes or is built on top of any Chocolatey product, including Chocolatey's open source projects; or (iii) in an attention-getting or branding manner.
    Without the express prior written consent of Chocolatey Software, Inc., no Chocolatey Marks may be used in a manner that implies an affiliation with, approval by, endorsement of or sponsorship by Chocolatey Software, Inc.
</p>

<h3 class="mt-3">General:</h3>
<p>
    You may use Chocolatey marks/logos, without a license, provided such use complies with the following requirements: (i) the Chocolatey mark is used only to refer to the Chocolatey project, framework, and/or technology;
    (ii) the Chocolatey mark is not used as part of your product, brand, domain, URL, or service name; (iii) the Chocolatey mark appears less prominent than your company or product name;
    (iv) the reference to Chocolatey does not create a sense of endorsement, sponsorship, or ownership by Chocolatey Software, Inc.; and/or (v) your use of the Chocolatey mark is necessary to fully describe your services or products
    and is limited to as much of the Chocolatey Mark as is necessary for such identification ("Nominative Use"). NO OTHER USE OF THE CHOCOLATEY MARK IS PERMITTED WITHOUT A WRITTEN LICENSE AGREEMENT.
</p>

<h3 class="mt-3">Plain Speak:</h3>
<p>
    <strong>NOTE</strong>: This section ("Plain Speak") in no way changes what is written in the rest of this document. This only attempts to provide some clarity. If there is a conflict with another section, the other section applies.
    Without an express written agreement, you cannot use the Chocolatey logos as part of your brand/product.
</p>