@{
    ViewBag.Title = "Sections";
}

@section SideColumn {
    <ul>
        <li><a href="#section-header">Curved Header</a></li>
        <li><a href="#section-general">General Section</a></li>
        <li><a href="#section-call-to-action">Call to Action</a></li>
    </ul>
}
<h1>Section Content</h1>
<div class="callout callout-danger mt-3">
    <strong class="text-danger">IMPORTANT!</strong><br />
    Sections have been modified from their original state defined within Bootstrap. Ensure you have the <a href="@Url.RouteUrl(RouteName.Styleguide, new { styleguideName = "home" })">Chocolatey Theme</a> installed for proper usage.
</div>

<h2 id="section-header" class="mt-5">Curved Header:</h2>
<p><strong>Lines 1 - 15</strong> in the <a href="#section-example">example below</a> identify how to use the curved header.</p>

<h2 id="section-general" class="mt-5">General Sections:</h2>
<p>In general, you will want to create alternating sections if the page content is lengthy. This will help organize the content and make it easier to consume.</p>
<ul>
    <li><strong>Lines 16 - 41</strong> in the <a href="#section-example">example below</a> identify how to use a general section on the basic <strong>body</strong> background.</li>
    <li><strong>Lines 42 - 64</strong> in the <a href="#section-example">example below</a> identify how to use a general section on a <strong>colored</strong> background.</li>
</ul>

<h2 id="section-call-to-action" class="mt-5">Call to Action:</h2>
<p><strong>Lines 65 - 111</strong> in the <a href="#section-example">example below</a> identify how to make a curved call to action.</p>

<h2 id="section-example" class="mt-5">Example:</h2>
<p>The below code is an example of how to use sections, a curved header, along with a curved call to action. Focus on the structure of the sections, along with the classes that applied to keep spacing consistent.</p>
<div class="border">
<script type="text/plain" class="language-markup">
<div id="header" class="bg-medium-dark">
    <section class="py-3 py-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-3">The <strong>Package Manager</strong> for Windows</h1>
                    <h1><strong>Chocolatey</strong> - Software Management Automation</h1>
                    <a class="btn btn-lg btn-outline-light mt-3" href="#">Start Using Free</a>
                    <a class="btn btn-lg btn-primary mt-3" href="#"><i class="fas fa-rocket"></i> Get More with Pro</a>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>The <i>Sane</i> Way to Manage Software on Windows</strong></h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey builds on technologies you know - unattended installation and PowerShell. Chocolatey works with all existing software installation technologies like MSI, NSIS, InnoSetup, etc, but also works with runtime binaries and zip archives. Go <a href="/compare">Pro/Business</a> to dial that experience up to 11!</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Easily manage all aspects of Windows software (installation, configuration, upgrade, and uninstallation). Chocolatey is the most reliable when software is included in the package, but can also easily download resources.</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Take advantage of PowerShell to provide automated software management instructions and Chocolatey’s <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "helpers-reference" })">built-in module</a> to turn complex tasks into one line function calls!</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div id="terminal" class="shadow">
                    <div class="d-flex flex-row-reverse align-items-center bg-white p-2">
                        <h3 class="mb-0">&times</h3>
                        <div class="maximize mx-3"></div>
                        <h3 class="mb-0">-</h3>
                    </div>
                    <div class="terminal-body bg-dark text-white p-3 h3 mb-0">
                        > choco <span data-animate="install docker-desktop,upgrade nodejs,uninstall flashplayer,search nodejs --id-starts-with,info docker-desktop">install docker-desktop</span><span class="terminal-cursor"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="trusted" class="py-3 py-lg-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <img class="w-100" src="#" alt="Chocolatey Integrations" />
            </div>
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>Trusted by Business</strong></h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey can build full software deployments in 5-10 seconds! Packages from Programs and Features in under 60 seconds? You've never <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-create-packages-from-installers" })">built software deployments faster</a> than you will with Chocolatey!</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span><a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-automatically-recompile-packages" })">Package Internalizer</a> makes existing packages work completely offline, allowing organizations to take advantage of great logic without a hit to the internet!</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey integrates with your favorite configuration manager like <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "features-infrastructure-automation" })">SCCM, Puppet, Chef, or PowerShell DSC.</a></li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Organizations are creating/internalizing and <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "how-to-host-feed" })">hosting</a> their own packages that are reliable and repeatable so they can <a href="@Url.RouteUrl(RouteName.Docs, new { docName = "community-packages-disclaimer" })">fully trust and control the process.</a> If you are an organization that wants the best ROI for any software management solution, look no further than <a href="@Url.RouteUrl(RouteName.Pricing)">Chocolatey for Business</a>.</li>
                </ul>
                <div class="text-center">
                    <h3 class="mb-3">Contact us to schedule a demo of Chocolatey for Business today!</h3>
                    <a class="btn btn-outline-primary" href="#">Schedule a Demo</a>
                    <a class="btn btn-primary" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-medium-dark border-0">
    <div class="shape-border shape-border-top"></div>
    <section class="py-3 py-lg-5">
        <div class="container">
            <div class="row mb-3 text-center">
                <div class="col-12">
                    <h1><strong>Choose from Thousands of Community Packages</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <ul class="fa-ul">
                                <li><span class="fa-li"><span class="fas fa-check text-success"></span></span><a href="@Url.RouteUrl(RouteName.Pricing)">Chocolatey Pro</a> offers individuals greater protection, more reliability, and more features when using the community feed!</li>
                                <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey.org has the largest online registry of Windows packages.</li>
                                <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Package submissions go through a rigorous moderation review process, including automatic virus scanning.</li>
                                <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>The community repository has a strict policy on malicious and pirated software.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-dark text-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h1><span id="UniquePackages" class="num" title="This includes packages that may only have prereleases"></span>/<span id="TotalPackages" class="num" title="This is the total number of package versions - one for every version of a package"></span></h1>
                                    <p class="mb-0">Unique Packages / Total Packages</p>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h1><span id="Downloads" class="num"></span></h1>
                                    <p class="mb-0">Total Community Package Installs</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h1><span id="PackagesPassingVerification" class="num" title="These are the latest version of a package and whether it is passing the verifier - run once a month against the latest version of all packages"></span></h1>
                                    <p class="mb-0"><a href="#">Known Good Packages</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section id="tools" class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>Official Chocolatey Tools</strong></h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>The CLI client, choco.exe, was designed with security in mind. Know you are using Chocolatey from a trusted source when you are using the official Chocolatey clients.</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Use choco.exe to install, upgrade, uninstall, publish and search for packages (and much more).</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Use <a href="#" title="A visual of Chocolatey GUI">Chocolatey GUI</a> when you need a visual representation of packages.</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>There is an <a href="#">official provider</a> for Windows 10/Windows Server 2016's built-in package manager manager (PackageManagement/OneGet) in the works - no ETA on release date yet.</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <img class="w-100" src="#" alt="Chocolatey GUI" />
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-lg-5 bg-white" id="artifacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-3 text-center"><strong>Packages are Independent Deployment Artifacts</strong></h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey packages are not just fancy zip files with PowerShell, they understand versioning and dependencies, allowing you to encapsulate everything related to managing installation and configuration for a piece of software.</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>As an independent deployment artifact, Chocolatey packages are not tied to another technology, allowing developers to install packages with Chocolatey and System Administrators to deploy Chocolatey packages using Chocolatey’s integration with their favorite configuration manager like SCCM, Puppet, or Chef.</li>
                    <li><span class="fa-li"><span class="fas fa-check text-success"></span></span>Chocolatey packages allow you to separate software installation concerns from automation tools / configuration managers and use the best tool for software management, which is the Chocolatey framework.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</script>
</div>