@model IEnumerable<ResourceViewModel>
@{
    Layout = "~/Views/Shared/NewsletterLayout.cshtml";
    ViewBag.Title = "Resources";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}

<section id="secondaryNav">
    @Html.Partial("~/Views/Shared/_ResourceSubNavigation.cshtml")
</section>
<div id="header" class="bg-medium-dark">
    <section class="py-3 py-lg-5">
        <div class="container py-lg-5 text-center">
            <h1 class="mb-0 display-3"><strong>Chocolatey Resource Library</strong></h1>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section>
    <div class="container">
        <div class="row home-list mt-4">
            <div class="col-12 mb-4">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "features"})#c4b">
                    <div class="card resource-new">
                        <div class="card-body p-0 d-flex justify-content-center flex-column">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex justify-content-center flex-column text-center position-relative overflow-hidden">
                                        <div class="ribbon bg-white text-success d-lg-none">NEW!</div>
                                        <span class="fas fa-star display-1"></span>
                                        <h2 class="mb-0 mx-3">Chocolatey for Business Feature Video Series</h2>
                                    </div>
                                </div>
                                <div class="col-lg-8 pl-lg-0">
                                    <div class="p-3 pl-lg-0 h-100 d-flex align-items-center justify-content-center flex-column position-relative overflow-hidden">
                                        <div class="ribbon bg-success text-white d-none d-lg-block">NEW!</div>
                                        <h2 class="text-center d-none d-lg-block">Chocolatey for Business Feature Video Series</h2>
                                        <p>
                                            In this video series, come take a tour of the many features available in our Chocolatey for Business offering. 
                                            Many organizations choose Chocolatey for Business when they want to scale out their solution across thousands of nodes, deploy rapidly and reliably every time, 
                                            mitigate risks with a greatly-simplified patching workflow, and access a Support Team that will guide you on your automation journey.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.Courses)">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-bullhorn display-1"></span>
                            <h2 class="mb-0 mx-3">Getting Started</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Follow this step-by-step guide to get up and running with Chocolatey fast</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.Docs, new {docName = "home"})">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-file display-1"></span>
                            <h2 class="mb-0 mx-3">Docs</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Read the docs to discover in depth articles on everything Chocolatey</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "case-studies"})">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-briefcase display-1"></span>
                            <h2 class="mb-0 mx-3">Case Studies</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Get detailed information on how Chocolatey is utilized throughout the community</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "videos"})">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-play display-1"></span>
                            <h2 class="mb-0 mx-3">Videos</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Chocolatey talks, success stories, case studies, demo videos, and more</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "success-stories"})">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-trophy display-1"></span>
                            <h2 class="mb-0 mx-3">Success Stories</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Watch numerous success story videos on how Chocolatey has impacted business you trust</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="@Url.RouteUrl(RouteName.BlogHome)">
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex justify-content-center flex-column text-center">
                            <span class="fas fa-rss display-1"></span>
                            <h2 class="mb-0 mx-3">Blog</h2>
                        </div>
                        <div class="card-footer">
                            <p class="mb-0">Read the latest news about Chocolatey through our official blog</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div id="resources-featured" class="bg-medium-dark">
    <div class="shape-border shape-border-top shape-border-light"></div>
    <section class="py-3 py-lg-5">
        <div class="container">
            <h1 class="mb-5 text-center"><strong>Helpful Resources</strong></h1>
            <div class="row resource-list resource-d-3">
                @foreach (var post in @Model)
                {
                    if (post.Tags.Contains("showcase"))
                    {

                        <div class="col-lg-4 col-sm-6 mb-4">
                            <a href="
                               @if (post.Type.Contains("Customer Success Story"))
                                {
                                    @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })
                                }
                                else if (post.Type.Contains("Video"))
                                {
                                    @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "videos", resourceName = post.UrlPath })
                                }
                                else if (post.Type.Contains("Case Study"))
                                {
                                    @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })
                                }
                                else if (post.Type.Contains("Feature"))
                                {
                                    @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "features", resourceName = post.UrlPath })
                                }
                            ">
                                <div class="card h-100">
                                    <div class="card-header font-weight-bold bg-medium-light text-dark text-center">
                                        @if (post.Type.Contains("Customer Success Story"))
                                        {
                                            <span class="fas fa-trophy" alt="Customer Success Stories"></span>
                                        }
                                        else if (post.Type.Contains("Video"))
                                        {
                                            <span class="fas fa-play" alt="Videos"></span>
                                        }
                                        else if (post.Type.Contains("Case Study"))
                                        {
                                            <span class="fas fa-briefcase" alt="Case Studies"></span>
                                        }
                                        else if (post.Type.Contains("Feature"))
                                        {
                                            <span class="fas fa-star" alt="Feature"></span>
                                        }
                                        <span>
                                            @if (post.Type.Contains("Feature") && post.Tags.Contains("c4b-feature"))
                                            {
                                                <text>C4B </text>
                                            }
                                            else if (post.Type.Contains("Feature") && post.Tags.Contains("open-source-feature"))
                                            {
                                                <text>Open Source </text>
                                            }
                                            @post.Type
                                        </span>
                                    </div>
                                    <div class="card-body p-0">
                                        @Html.Raw(post.Image)
                                    </div>
                                    <div class="card-footer">
                                        @if (post.Type.Contains("Customer Success Story"))
                                        {
                                            <h5>@post.Company</h5>
                                            <p><small><i>@post.Name, @post.Position</i></small></p>
                                        }
                                        else
                                        {
                                            <h5>@post.Title</h5>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "videos"})" class="btn btn-light">See More Videos</a>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom"></div>
</div>
<section id="resources-c4b-feature-series" class="pb-3 pb-lg-5">
    <div class="container">
        <h1 class="mb-5 text-center"><strong>Chocolatey for Business Feature Video Series</strong></h1>
        <div class="row resource-list resource-d-3">
            @foreach (var post in @Model)
            {
                if (post.Type.Contains("Feature") && post.Tags.Contains("c4b-feature"))
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "features", resourceName = post.UrlPath })#c4b">
                            <div class="card h-100">
                                <div class="card-header font-weight-bold bg-medium-light text-center">
                                    <span class="fas fa-star" alt="Chocolatey for Business Feature Video Series"></span>
                                    <span>C4B @post.Type</span>
                                </div>
                                <div class="card-body p-0">
                                    @Html.Raw(post.Image)
                                </div>
                                <div class="card-footer">
                                    <h5>@post.Title</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "features"})#c4b" class="btn btn-primary">See More of This Series</a>
            </div>
        </div>
    </div>
</section>
<section id="resources-success-stories" class="py-3 py-lg-5 bg-white">
    <div class="container">
        <h1 class="mb-5 text-center"><strong>Success Stories</strong></h1>
        <div class="row resource-list resource-d-3">
            @foreach (var post in @Model)
            {
                if (post.Tags.Contains("success-story"))
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })">
                            <div class="card h-100">
                                <div class="card-header font-weight-bold bg-medium-light text-center">
                                    <span class="fas fa-trophy" alt="Customer Success Stories"></span>
                                    <span>@post.Type</span>
                                </div>
                                <div class="card-body p-0">
                                    @Html.Raw(post.Image)
                                </div>
                                <div class="card-footer">
                                    <h5>@post.Company</h5>
                                    <p><small><i>@post.Name, @post.Position</i></small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "success-stories"})" class="btn btn-primary">See More Success Stories</a>
            </div>
        </div>
    </div>
</section>
<section id="resources-case-studies" class="pt-3 pt-lg-5">
    <div class="container">
        <h1 class="mb-5 text-center"><strong>Case Studies</strong></h1>
        <div class="row resource-list resource-d-3">
            @foreach (var post in @Model)
            {
                if (post.Type.Contains("Case Study"))
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })">
                            <div class="card h-100">
                                <div class="card-header font-weight-bold bg-medium-light text-center">
                                    <span class="fas fa-briefcase" alt="Case Studies"></span>
                                    <span>@post.Type</span>
                                </div>
                                <div class="card-body p-0">
                                    @Html.Raw(post.Image)
                                </div>
                                <div class="card-footer">
                                    <h5>@post.Title</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "case-studies"})" class="btn btn-primary">See More Case Studies</a>
            </div>
        </div>
    </div>
</section>
<div class="bg-primary border-0">
    <div class="shape-border shape-border-top shape-border-light"></div>
    <section class="py-3 py-lg-5">
        <div class="container">
            <div class="row mb-3 text-center text-white">
                <div class="col-12">
                    <h1><strong>Get started with your free Chocolatey for Business trial today!</strong></h1>
                    <h2>Begin managing your software in a better way.</h2>
                    <a class="btn btn-lg btn-outline-light mt-3" href="@Url.RouteUrl(RouteName.ContactUs)">Schedule a Demo</a>
                    <a class="btn btn-lg btn-light mt-3" href="@Url.RouteUrl(RouteName.Pricing)">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <div class="shape-border shape-border-bottom shape-border-white"></div>
</div>
<section class="pb-3 pb-lg-5 bg-white">
    <div class="container">
        <div class="row resource-d-3 shuffle">
            @Html.Partial("~/Views/Pages/_WrittenTestimonials.cshtml")
        </div>
        <div class="text-center">
            <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "testimonials"})" class="btn btn-primary">See More Testimonials</a>
        </div>
    </div>
</section>
<section class="py-3 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 updated-list resource-d-6">
                <h3>Recently Updated Resources</h3>
                <hr />
                @foreach (var post in @Model)
                {
                    <a href="
                    @if (post.Type.Contains("Customer Success Story"))
                    {
                        @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })
                    }
                    else if (post.Type.Contains("Video"))
                    {
                        @Url.RouteUrl(RouteName.ResourceName, new {resourceType= "videos", resourceName = post.UrlPath })
                    }
                    else if (post.Type.Contains("Case Study"))
                    {
                        @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })
                    }
                    ">
                        <div>
                            @post.Title
                            <br />
                            <span>@post.Published.GetValueOrDefault().ToLongDateString()</span>
                        </div>
                        <hr />
                    </a>
                }
            </div>
            <div class="col-md-6 helpful-list resource-d-3">
                <h3>Helpful Resources</h3>
                <hr />
                @foreach (var post in @Model)
                {
                    if (post.Tags.Contains("showcase"))
                    {
                        <a href="
                        @if (post.Type.Contains("Customer Success Story"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })
                        }
                        else if (post.Type.Contains("Video"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "videos", resourceName = post.UrlPath })
                        }
                        else if (post.Type.Contains("Case Study"))
                        {
                            @Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })
                        }
                        ">
                            <div class="bg-white p-2 mb-4 shadow-sm">
                                @post.Title
                                <br />
                                @if (post.Summary.Length < 100)
                                {
                                    <span>@post.Summary</span>
                                }
                                else
                                {
                                    <span>@post.Summary.Substring(0, 100)<text>...</text></span>
                                }
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>