@model IEnumerable<ResourceViewModel>
@{
    Layout = "~/Views/Shared/NewsletterLayout.cshtml";
    ViewBag.Title = "Customer Success Stories";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Scripts");
}
@section ExtraHeaders {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
}

<section id="secondaryNav">
    @Html.Partial("~/Views/Shared/_ResourceSubNavigation.cshtml")
</section>
<section class="py-3 py-lg-5">
    <div class="container">
        @Html.Partial("~/Views/Resources/_BreadCrumbs.cshtml")
        <div class="row resource-list">
            @foreach (var post in @Model)
            {
                if (post.Tags.Contains("success-story"))
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "success-stories", resourceName = post.UrlPath })">
                            <div class="card h-100">
                                <div class="card-header font-weight-bold bg-medium-light text-center">
                                    <span class="fas fa-trophy" alt="Customer Success Stories"></span>
                                    <span>@post.Type</span>
                                </div>
                                <div class="card-body p-0">
                                    @Html.Raw(post.Image)
                                </div>
                                <div class="card-footer">
                                    <h5>@post.Company</h5>
                                    <p><small><i>@post.Name, @post.Position</i></small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>