<nav id="secondaryNav" class="navbar bg-white border-bottom d-none d-sm-flex">
    <ul>
        <li>
            <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "videos"})">
                <span class="fas fa-play" alt="Videos"></span>
                <span>Videos</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "features"})">
                <span class="fas fa-star" alt="Featured Video Series"></span>
                <span>Featured Series</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "success-stories"})">
                <span class="fas fa-trophy" alt="Customer Success Stories"></span>
                <span>Success Stories</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "case-studies"})">
                <span class="fas fa-briefcase" alt="Case Studies"></span>
                <span>Case Studies</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteName.Docs, new {docName = "home"})">
                <span class="fas fa-file" alt="Documentation"></span>
                <span>Docs</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(RouteName.BlogHome)">
                <span class="fas fa-rss" alt="Blog"></span>
                <span>Blog</span>
            </a>
        </li>
    </ul>
</nav>