@{
    Layout = "_BaseLayout.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    @Html.Partial("~/Views/Shared/_Loader.cshtml")
    <header>
        @Html.Partial("~/Views/Shared/_AlertTop.cshtml")
    </header>
    <main class="my-auto">
        @Html.Partial("~/Views/Shared/_Modals.cshtml")
        <section id="account" class="container py-3 py-md-5">
            <div class="row">
                <div class="col-sm-9 col-lg-6 m-auto">
                    <div class="card">
                        <div class="card-header text-center bg-primary">
                            <a href="@Url.RouteUrl(RouteName.Home)"><img class="logo" alt="Chocolatey Software" src="@Url.Content("~/content/images/just-type-logo.svg")" /></a>
                        </div>
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        @Html.Partial("~/Views/Shared/_CopyrightNavigation.cshtml")
    </footer>
    @RenderPage("_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)
</body>