@{
    ViewBag.Title = "Chocolatey for Business";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/pages.css");
    Bundles.Reference("Scripts");
}

<section id="secondaryNav" class="sticky-top c4b-nav">
    @Html.Partial("~/Views/Shared/_C4BSubNavigation.cshtml")
</section>
<div id="header" class="c4b-header">
    <section class="py-3 py-lg-5">
        <div class="container text-center text-white">
            <h1 class="mb-4">Modern Software Automation</h1>
            <h4>Chocolatey for Business</h4>
            <h5>Automate your entire Windows Software Lifecycle</h5>
            <div class="row mt-lg-5 pb-lg-3 text-dark">
                <div class="col-lg-10 mx-auto">
                    <div class="row card-row">
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <span class="fas fa-cogs h1 mb-4 text-primary"></span>
                                    <p class="mb-0">Automate software install, upgrade, and removal on Windows OS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <span class="fas fa-tachometer-alt h1 mb-4 text-primary"></span>
                                    <p class="mb-0">Accelerate rollout and simplify software management</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <span class="fas fa-clock h1 mb-4 text-primary"></span>
                                    <p class="mb-0">Reduce time spent on software management by 90%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-light btn-lg" href="#benefits">Learn More</a>
            <a class="btn btn-light btn-lg" href="#pricing">Purchase</a>
        </div>
    </section>
</div>
<section id="benefits" class="bg-white py-3 py-lg-5">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="benifit-1-tab" data-toggle="tab" href="#benifit-1" role="tab" aria-controls="benifit-1" aria-selected="true">Simplify Complex Processes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="benifit-2-tab" data-toggle="tab" href="#benifit-2" role="tab" aria-controls="benifit-2" aria-selected="false">Save Time & Effort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="benifit-3-tab" data-toggle="tab" href="#benifit-3" role="tab" aria-controls="benifit-3" aria-selected="false">Improve Visiblity, Control, & Security</a>
            </li>
        </ul>
        <div class="tab-content p-3">
            <div class="tab-pane fade show active" id="benifit-1" role="tabpanel" aria-labelledby="benifit-1-tab">
                <div class="row align-items-center">
                    <div class="col-lg-6 text-center">
                        <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/tangled-arrows.png")" style="max-width:300px" alt="Simplify Complex Processes" title="Simplify Complex Processes" />
                    </div>
                    <div class="col-lg-6">
                        <p>There are a lot of different installer formats and multiple approaches to deploying Windows software. Deploying software without package management on Windows can be complicated and time-consuming.</p>
                        <p>
                            Chocolatey simplifies this through simple, repeatable, and automated approach, by using a universal packaging format for managing all Windows software.
                            Regardless if installers are; native, zips, scripts, binaries or in-house developed - Chocolatey treats them as all 1st class citizens.
                        </p>
                        <p>Write once, deploy anywhere, with anything, and then simply track & manage.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="benifit-2" role="tabpanel" aria-labelledby="benifit-2-tab">
                <div class="row align-items-center">
                    <div class="col-lg-6 text-center">
                        <img class="lazy img-fluid" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/sync-watch.png")" style="max-width:300px" alt="Save Time & Effort" title="Save Time & Effort" />
                    </div>
                    <div class="col-lg-6">
                        <p>
                            System engineers can spend hours deploying & configuring Windows software manually. Traditional tools are just not built for modern automation and a DevOps approach.
                            Gaining insights and consistency across your environment is not always easy.
                        </p>
                        <p>Chocolatey for Business (C4B) has helped hundreds of system admins save time, reduce downtime, and accelerate deployments.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="benifit-3" role="tabpanel" aria-labelledby="benifit-3-tab">
                <div class="row align-items-center">
                    <div class="col-lg-6 text-center">
                        <span class="h3"><i class="fas fa-lock fa-10x text-primary"></i></span>
                    </div>
                    <div class="col-lg-6">
                        <p>Chocolatey for Business (C4B) is Complete Software Management. Built on our popular open source offering.</p>
                        <p>Focused on three value-added areas;  improved security, enhanced productivity features, and enabling more visibility. All backed with dedicated support, services, & roadmap</p>
                        <ul>
                            <li>Closely aligned to organizational use cases - rapid deployment & highly scalable</li>
                            <li>More visual interfaces (GUIs) & smoother user experience</li>
                            <li>Special advanced functionality i.e Package Creation, Package Internalizer, Package Audit, Package Synchronizer, Self-Service Installer</li>
                            <li>Easy migration path from open source</li>
                            <li>Deep integration with leading technologies</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pt-lg-5">
    <div class="container">
        <div id="informationCarousel" class="carousel slide carousel-fade information-carousel" data-ride="carousel" data-touch="true" data-interval="10000">
            <ol class="carousel-indicators">
                <li data-target="#informationCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#informationCarousel" data-slide-to="1"></li>
                <li data-target="#informationCarousel" data-slide-to="2"></li>
                <li data-target="#informationCarousel" data-slide-to="3"></li>
                <li data-target="#informationCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>Real-time Insights with Chocolatey Central Management</h3>
                            <ul>
                                <li>Full package visibility</li>
                                <li>Installed software packages</li>
                                <li>Status reporting</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center video-story resource-list d-none d-sm-block">
                            <div class="card w-75 mx-auto">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-3-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-06.jpg")" alt="Chocolatey for Business - Chocolatey Central Management" title="Chocolatey for Business - Chocolatey Central Management" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business - Chocolatey Central Management</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>Accelerate Deployments & Reduce the Effort</h3>
                            <ul>
                                <li>Automate your Windows Package Management Workflow</li>
                                <li>Build and deploy packages in seconds</li>
                                <li>Automate updates and integrate with DevOps tools</li>
                                <li>Build a private repository of packages</li>
                                <li>Quick Deployment Environment (QDE) simplifies set-up with ready to go virtual appliance</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center d-none d-sm-block">
                            <span class="h3"><i class="fas fa-tachometer-alt fa-10x text-primary"></i></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>Improve Security & Controls</h3>
                            <ul>
                                <li>Offline & secure</li>
                                <li>Identify out of date packages fast</li>
                                <li>Package audit & detailed reporting</li>
                                <li>Integrate with virus scanning & malware protection tools</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center d-none d-sm-block">
                            <span class="h3"><i class="fas fa-lock fa-10x text-primary"></i></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>Integrates with Everything</h3>
                            <ul>
                                <li>Tight provider based integration with all configuration management tools</li>
                                <li>Integration with leading repositories, patch management, and software monitoring solutions</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center d-none d-sm-block">
                            <span class="h3"><i class="fas fa-cogs fa-10x text-primary"></i></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3>Self-Service & Enhanced User Experience</h3>
                            <ul>
                                <li>Simple approach to ensuring software is deployed to users with no 'admin rights' or in highly regulated & locked down environments</li>
                                <li>User-friendly, consistent, reliable approach without the need manual intervention</li>
                                <li>Central management and control aligned to organizational policies</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center video-story resource-list d-none d-sm-block">
                            <div class="card w-75 mx-auto">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-4-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0501.jpg")" alt="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" title="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 1</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#informationCarousel" role="button" data-slide="prev">
                <span class="fas fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#informationCarousel" role="button" data-slide="next">
                <span class="fas fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section id="business-trusted" class="shape-border-light">
    @Html.Partial("~/Views/Pages/_TrustedBusinessCarousel.cshtml")
</section>
<section id="features">
    <div class="bg-medium-dark">
        <div class="shape-border shape-border-top shape-border-light"></div>
        <div class="container py-3 py-lg-5">
            <div class="bg-white shadow p-2">
                <a class="h4 font-weight-bold collapse show" data-toggle="collapse" href="#feature-1" role="button" aria-expanded="true" aria-controls="feature-1" title="Package Builder">Package Builder</a>
            </div>
            <div class="collapse show bg-white text-dark shadow border-top" id="feature-1">
                <div class="p-3">
                    <h3>Generate Software Deployment Packages in Seconds</h3>
                    <ul>
                        <li>Creating packages manually is time-consuming, error-prone, and inconsistent</li>
                        <li>Package Builder automatically creates high-quality packages from an installer/zip in seconds</li>
                        <li>Determining silent arguments based on installer type, with complete customization</li>
                        <li>Supports exe, msi, 7z, zip, msu, and msp files</li>
                    </ul>
                    <div class="row video-story resource-list">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-1-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0301.jpg")" alt="Chocolatey for Business Package Builder Part: 1" title="Chocolatey for Business Package Builder Part: 1" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Package Builder Part: 1</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-1-video-2">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0302.jpg")" alt="Chocolatey for Business Package Builder Part: 2" title="Chocolatey for Business Package Builder Part: 2" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Package Builder Part: 2</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-2" role="button" aria-expanded="false" aria-controls="feature-2" title="Package Internalizer">Package Internalizer</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-2">
                <div class="p-3">
                    <h3>Convert Community Packages to 100% Offline & Reliable Use</h3>
                    <ul>
                        <li>Chocolatey community offers over 7,500 packages; however, those packages  require external sources for software binaries from vendor servers at runtime</li>
                        <li>Take advantage of thousands of existing packages without reliance on the Internet</li>
                        <li>Package Internalizer downloads an existing package and all remote resources, and recompiles package to use those resources internally</li>
                        <li>Offers the ability for you to host packages on private internal repositories</li>
                    </ul>
                    <div class="row video-story resource-list">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-2-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0401.jpg")" alt="Chocolatey for Business Package Internalizer Part: 1" title="Chocolatey for Business Package Internalizer Part: 1" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Package Internalizer Part: 1</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-2-video-2">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0402.jpg")" alt="Chocolatey for Business Package Internalizer Part: 2" title="Chocolatey for Business Package Internalizer Part: 2" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Package Internalizer Part: 2</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-3" role="button" aria-expanded="false" aria-controls="feature-3" title="Chocolatey Central Management (CCM)">Chocolatey Central Management (CCM)</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-3">
                <div class="p-3">
                    <h3>Real-Time Insights</h3>
                    <ul>
                        <li>Getting a real-time snapshot of packages and deployments is not always easy</li>
                        <li>With CCM you can bring software visibility to the organizational level</li>
                        <li>Quickly see all software packages across the organization and see what needs attention immediately</li>
                        <li>Generate reporting from views in PDF and Excel format</li>
                    </ul>
                    <div class="row video-story resource-list">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-3-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-06.jpg")" alt="Chocolatey for Business - Chocolatey Central Management" title="Chocolatey for Business - Chocolatey Central Management" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business - Chocolatey Central Management</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-4" role="button" aria-expanded="false" aria-controls="feature-4" title="Self-Service Anywhere">Self-Service Anywhere</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-4">
                <div class="p-3">
                    <h3>Empower Your User Base While Maintaining Security Policies</h3>
                    <ul>
                        <li>Ensuring software is deployed and updated to users with no ‘admin rights’, or in highly regulated locked-down environments, is a challenge</li>
                        <li>C4B provides organizations the power to easily offer their users an interface to install and upgrade software</li>
                        <li>Offering a user-friendly, consistent, reliable approach without the need for manual intervention</li>
                        <li>C4B installation is completely locked down so non-administrators cannot make changes to configurations. Attempted abuses can be logged and audited.</li>
                        <li>Ability to customize with company logo</li>
                    </ul>
                    <div class="row video-story resource-list">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-4-video-1">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0501.jpg")" alt="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" title="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 1</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="text-center card-body p-0" data-toggle="modal" data-target="#feature-4-video-2">
                                    <img class="img-fluid" src="@Url.Content("~/content/images/videos/04-0502.jpg")" alt="Chocolatey for Business Self-Service and Chocolatey GUI Part: 2" title="Chocolatey for Business Self-Service and Chocolatey GUI Part: 2" />
                                </div>
                                <div class="card-footer">
                                    <h5 class="mb-0 text-center">Chocolatey for Business Self-Service and Chocolatey GUI Part: 2</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-5" role="button" aria-expanded="false" aria-controls="feature-5" title="Package Synchronizer">Package Synchronizer</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-5">
                <div class="p-3">
                    <h3>Improve Accuracy & Simplify Software Management</h3>
                    <ul>
                        <li>Gaining visibility beyond just the software ‘installed’ in Programs & Features can be very difficult</li>
                        <li>C4B easily brings all software in Programs and Features under Chocolatey management</li>
                        <li>Package Synchronizer ensures accurate inventory and enables easier management of complex Windows systems</li>
                        <li>Auto-synchronization allows you to uninstall directly from Programs and Features, as it detects when changes have occurred outside of Chocolatey (ie Programs & Features), and updates the Chocolatey package inventory accordingly</li>
                        <li>Track versions of zip archives & your own internal software that is not traditionally visible in system installation</li>
                        <li>Sync command brings all software on a system under Chocolatey management, allowing you to manage upgrades more consistently</li>
                        <li>Show all packages (even those without native installations) in Programs and Features, allowing you to capitalize on existing legacy inventory reporting systems</li>
                    </ul>
                </div>
            </div>
            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-6" role="button" aria-expanded="false" aria-controls="feature-6" title="Package Audit">Package Audit</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-6">
                <div class="p-3">
                    <h3>Inventory - Comprehensive Software Audit</h3>
                    <ul>
                        <li>Gain insights on what was installed, by whom, and when</li>
                        <li>Easily identify Out-of-Date Software</li>
                        <li>Identify package upgrades to target on next scheduled maintenance window</li>
                    </ul>
                </div>
            </div>

            <div class="bg-white shadow p-2 mt-3">
                <a class="h4 font-weight-bold collapsed" data-toggle="collapse" href="#feature-7" role="button" aria-expanded="false" aria-controls="feature-7" title="Package Reducer">Package Reducer</a>
            </div>
            <div class="collapse bg-white text-dark shadow border-top" id="feature-7">
                <div class="p-3">
                    <h3>Automatically Optimize Your Deployments</h3>
                    <ul>
                        <li>Package Reducer helps to ensure the space that Chocolatey uses on a system stays minimal</li>
                        <li>Automatic self clean-up after package installation</li>
                        <li>Substantial package size reduction to enable to reduce footprint on endpoints</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape-border shape-border-bottom"></div>
    </div>
</section>
<section id="pricing" class="pb-3 pb-lg-5">
    <div id="editions" class="container">
        <div class="row">
            <div class="col-lg-4 pt-lg-5">
                <div class="card h-100">
                    <div class="card-header bg-medium p-0 text-center">
                        <h3 class="p-3 text-white mb-0"><strong>Starter</strong></h3>
                        <p class="p-2 mb-0"><strong>1 - 35 Machines</strong></p>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center display-4 pt-2"><strong>$600</strong></h1>
                        <p class="text-center pb-2">Annually</p>
                    </div>
                    <div class="card-footer pt-0 text-center bg-white">
                        <a href="https://www.bluesnap.com/jsp/buynow.jsp?contractId=3343184&quantity=100" rel="noreferrer" title="Secure Online Payments by BlueSnap" alt="Secure Online Payments and Credit Card Processing by BlueSnap" class="btn btn-outline-secondary" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-3 pt-lg-5">
                <div class="card h-100">
                    <div class="card-header bg-medium-dark p-0 text-center">
                        <h3 class="p-3 mb-0"><strong>Small</strong></h3>
                        <p class="p-2 mb-0"><strong>40 - 499 Machines</strong></p>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center display-4 pt-2"><strong>$16</strong></h1>
                        <p class="text-center pb-2">/license per year</p>
                    </div>
                    <div class="card-footer pt-0 text-center bg-white">
                        <a href="https://www.bluesnap.com/jsp/buynow.jsp?contractId=3343184&quantity=100" rel="noreferrer" title="Secure Online Payments by BlueSnap" alt="Secure Online Payments and Credit Card Processing by BlueSnap" class="btn btn-dark" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-3 pt-lg-0">
                <div class="card h-100">
                    <div class="card-header bg-primary p-0 text-center">
                        <h3 class="p-3 mb-0"><strong>Medium</strong></h3>
                        <p class="p-2 mb-0"><strong>500+ Machines</strong></p>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center display-4 pt-2"><strong>$15.60</strong></h1>
                        <p class="text-center pb-2">/license per year</p>
                    </div>
                    <div class="card-footer pt-0 text-center bg-white">
                        <a href="https://www.bluesnap.com/jsp/buynow.jsp?contractId=3343184&quantity=100" rel="noreferrer" title="Secure Online Payments by BlueSnap" alt="Secure Online Payments and Credit Card Processing by BlueSnap" class="btn btn-primary" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-medium-dark mt-4 p-3">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p class="mb-0">Enterprise 2000+ Machines</p>
                    <p class="mb-lg-0">Education & Non-Profits - Special pricing options</p>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="@Url.RouteUrl(RouteName.ContactSales)" class="btn btn-outline-light ml-lg-4" target="_blank">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h3>Sign Up for a Demo</h3>
                <p class="mb-lg-0">Not quite ready to buy? Let our team demo Chocolatey for Business to you.</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="@Url.RouteUrl(RouteName.ContactTrial)" class="btn btn-outline-light ml-lg-3" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
</section>

@*Video Modals*@
@*TODO: Eventually need to pull this data from the .md files in the resource area and template out bootstrap modal*@
<div class="video-story">
    <div class="modal fade" id="feature-1-video-1" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Package Builder Part: 1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/vR8VQkP4vmk?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-1-video-2" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Package Builder Part: 2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/QJ3XIY64WAM?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-2-video-1" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Package Internalizer Part: 1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/JCByzPHo0os?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-2-video-2" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Package Internalizer Part: 2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/XxqGyHnqWEk?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-3-video-1" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business - Chocolatey Central Management" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/LVwZ4pXa_B8?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-4-video-1" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Self-Service and Chocolatey GUI Part: 1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/Thw9GpQaZ6M?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="feature-4-video-2" tabindex="-1" role="dialog" aria-labelledby="Chocolatey for Business Self-Service and Chocolatey GUI Part: 2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/BnnAwFftUwU?autoplay=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>