@using NuGetGallery;
@model CourseViewModel
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    Bundles.Reference("Content/dist/chocolatey.slim.css");
    Bundles.Reference("Content/pages.css");
    Bundles.Reference("Content/prism/prism.css");
    Bundles.Reference("Scripts");
    Bundles.Reference("Scripts/prism");
    Bundles.Reference("Scripts/courses");
    var BaseHref = Request.Url.GetLeftPart(UriPartial.Authority);
    var FullHref = Request.Url.GetLeftPart(UriPartial.Path);
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body>
    @Html.Partial("~/Views/Shared/_TopNavigation.cshtml")
    <main id="docs" class="mb-auto">
        <section id="secondaryNav">
            @Html.Partial("~/Views/Shared/_AuthenticationSubNavigation.cshtml")
        </section>
        <section class="pt-3 pt-lg-5 module-top">
            <div class="container">
                <h1>@ViewBag.Title</h1>
                <hr />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.RouteUrl(RouteName.Courses)">Courses</a></li>
                        <li class="breadcrumb-item">
                            @if (Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.GettingStartedWithChocolatey) }) || Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.GettingStartedWithChocolatey) }) + "?quiz=true")
                            {
                                <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.GettingStartedWithChocolatey), courseModuleName = "home" })">Getting Started</a>
                            }
                            else if (FullHref == BaseHref + "/courses/installation/installing" || Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling) }) || Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling) }) + "?quiz=true")
                            {
                                <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.InstallingUpgradingUninstalling), courseModuleName = "home" })">Installation</a>
                            }
                            else if (Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.CreatingChocolateyPackages) }) || Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.CreatingChocolateyPackages) }) + "?quiz=true")
                            {
                                <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName = CourseConstants.GetCourseUrl(CourseNameType.CreatingChocolateyPackages), courseModuleName = "home" })">Creating Chocolatey Packages</a>
                            }
                            else if (Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = "creating-chocolatey-packages" }) || Request.RawUrl == Url.RouteUrl(RouteName.CourseName, new { courseName = "creating-chocolatey-packages" }) + "?quiz=true")
                            {
                                <a href="@Url.RouteUrl(RouteName.CourseName, new { courseName = "creating-chocolatey-packages", courseModuleName = "home" })">Creating Chocolatey Packages</a>
                            }
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                    </ol>
                </nav>
                <hr class="mb-0 mb-md-5" />
            </div>
        </section>
        <section class="pb-3 pb-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3 col-xl-2 module-left">
                        <nav class="navbar navbar-expand-md navbar-dark sticky-top p-0 border-top-0 bg-medium-dark mb-3 mb-md-0">
                            <button class="navbar-toggler m-2 my-md-0 w-100 text-white border-0 collapsed" type="button" data-toggle="collapse" data-target="#docs-nav" aria-controls="navbarlogoff" aria-expanded="false" aria-label="Toggle navigation">
                                <small>View Course Modules</small>
                            </button>
                            <div class="collapse navbar-collapse bg-light" id="docs-nav">
                                <div class="navbar-nav d-block w-100 mt-3 mt-md-0">
                                    <p class="text-dark d-none d-md-block"><strong>Course Modules:</strong></p>
                                    @RenderSection("LeftSideColumn")
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-12 col-md-9 @if (IsSectionDefined("RightSideColumn")) {<text>col-xl-8</text>} else {<text>col-xl-10</text>} docs-body">
                        @RenderBody()
                    </div>
                    @if (IsSectionDefined("RightSideColumn"))
                    {
                        <div class="d-none d-xl-block col-xl-2 docs-right">
                            <nav class="sticky-top">
                                <p><strong>Module Topics:</strong></p>
                                <ul>
                                    @RenderSection("RightSideColumn")
                                    <li><a href="#quiz">Quiz</a></li>
                                </ul>
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </section>
    </main>
    <footer>
        @Html.Partial("~/Views/Shared/_NewsletterNavigation.cshtml")
        @Html.Partial("~/Views/Shared/_BottomNavigation.cshtml")
    </footer>
    @RenderPage("~/Views/Shared/_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script language="javascript" type="text/javascript">
        ((window.gitter = {}).chat = {}).options = {
            room: 'chocolatey/chocolatey.org'
        };
    </script>

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</body>